<div class="mt-4" style="width: 1600px;">
    <div class="col-lg-9 mx-auto">
        <h2>{{course.name}}</h2>            
        <p>Tag: <b>{{ course.tag }}</b></p>
        <img src="{{course.image}}" alt="{{course.name}}" class="card-img-top" style="width: 500px;">
        <p style="margin-right: 120px;">{{course.description}}</p>
        <button type="button" class="btn btn-success">
            <a href="{{course.messenger}}" style="color: white" target="_blank">Contact with me</a>
        </button>
    </div>
</div>
